* {                /*при помощи этой записи мы делаем все сбросы отступов*/
    margin: 0;   
    padding: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif; /*подключение семейства шрифтов, добавляются ко всему телу бади*/
    overflow-x: hidden ;                    /*Это значение отключает скролл по оси х. За экран выходит элемент которому
                                             мы поставили отрицательное значение, из за этого появляется белая полоса
                                             и скролл, это свойство исправит это*/
}
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%); /*стилизируем общий блок майн, делаем синий градиент*/
}
.container {
    max-width: 1180px;              /*в блоке контейнер используем макс ширину синего градиента*/
    margin: 0 auto;
    display: flex;                  /*эти 2 строчки что бы сделать 2 колонки и текст находился слева а рисунок справа*/
    justify-content: space-between; /*эти 2 строчки что бы сделать 2 колонки и текст находился слева а рисунок справа*/
}
.text {                             /*работаем с классом текст*/
    color: #FAF9F9;                 /*задаем цвет текста. Белый*/
    flex: 0 0 580px;                /*ограничиваем ширину теста в блоке текст*/
    padding-top: 170px;             /*отступ сверху до текста*/
    padding-bottom: 170px;          /*отступ снизу до кнопки */
}
h1 {                                /*Работаем с заголовком /крупные буквы/*/
    font-size: 120px;               /*размер шрифта заголовка*/
    font-weight: 800;               /*жирность шрифта*/
    text-transform: uppercase;      /*Каждую букву пишем заглавным шрифтом*/
    line-height: 120px;             /*Межстрочный интервал*/
    margin-bottom: 40px;            /*тоже отступ от лучшие бургеры до Закажи наши.....*/
}
h1 span {                           /*стилизуем спан, то есть "работаем с 10 до 22"*/
    color: #FBB731;                 /*цвет желтый*/
    font-size: 30px;                /*размер шрифта*/
    font-weight: 700;               /*жирность шрифта*/
    line-height: 38px;              /*межстрочный интервал*/
    display: block;                 /*спан будет находится отдель на строчке*/
    margin-bottom: 10px;            /*отступ между работаем с 11:00 до 22:00 и лучшие бургеры*/
}
p {                                 /*стилизуем контейнер р*/
    font-family: 'Lato', sans-serif;/*подключаем другой шрифт*/
    font-size: 19px;                /*размер шрифта*/
    line-height: 1.4;               /*межстрочный интервал*/
    margin-bottom: 42px;            /*интервал между нижним текстом /Закажи наши ... и кнопкой*/
}
a {                                 /*стилизуем кнопку*/
    color: #1E2F40;                 /*цвет надписи в кнопке.синий*/
    background-color: #FBB731;      /*цвет заливки в кнопке.желтый*/
    border-radius: 5px;             /*закругление углов кнопки*/
    text-decoration: none;          /*убираем полоску*/
    padding: 20px 45px;             /*отступы текста кнопки от краёв кнопки по 20 сверху и снизу и по 45 по бокам*/
    display: inline-block;          /*чтобы кнопка не наслаивалась используем это свойство*/
    text-transform: uppercase;      /*заглавные буквы в тексте кнопки*/
    font-size: 14px;                /*размер шрифта*/
    font-weight: 700;               /*жирность шрифта*/
}
.visual {                           /*в этом блоке находится желтый прямоугольник и картинка бургера*/
    flex-grow: 1;                   /*резервирование места под желтый градиент*/                 
    display: flex;                  /*переносим желтый блок правее*/
    justify-content: flex-end;      /*переносим желтый блок правее*/
    position: relative;             /*Устанавливает способ позиционирования элемента относительно окна браузера
                                       или других объектов на веб-странице. Relative -положение элемента 
                                       устанавливается относительно его исходного места*/
}
.bg {                               /*создание желтого треугольника /градиента/*/
    width: 432px;                   /*ширина*/
    height: 100%;                   /*высота*/
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%); /*сам прямоугольник, берем из фигмы*/
}
img {
    width: 829px;                   /*ширина картинки*/
    position: absolute;             /* Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются 
                                       на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента 
                                       задается свойствами left, top, right и bottom, также на положение влияет значение свойства 
                                       position родительского элемента. Так, если у родителя значение position установлено 
                                       как static или родителя нет, то отсчет координат ведется от края окна браузера. 
                                       Если у родителя значение position задано как fixed, relative или absolute, то отсчет 
                                       координат ведется от края родительского элемента. Родительский элемент это visual*/
    right: -168px;                  /*сдвигаем картинку вправо на 168 пикселей */ 
}
